* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size-sm: 10px;
  --font-size-md: 15px;
  --font-size-lg: 20px;
}

@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

body {
  font-family: "gilroy-medium";
}

.main_container {
  height: 80px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1.5rem;
  align-items: flex-start;
  gap: 40px;
  font-size: 18px;
  font-family: sans-serif;
}

.logo {
  width: 155px;
  height: 40px;
  margin-left: 145px;
  margin-top: -10px;
  display: flex;
}

nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
}

li {
  text-align: center;
}

.universal-blue {
  color: #0065fe;
}

.log-in {
  color: #0065fe;
  font-size: 16px;
  margin-left: 140px;
}

.try-free {
  background: #0065fe;
  color: white;
  width: 142px;
  height: 44px;
  padding: 12px 24px;
  border-radius: 100px;
  border: none;
  margin-top: -12px;
}

.frame button {
  background: #0065fe;
  color: white;
  width: 142px;
  height: 44px;
  padding: 12px 24px;
  border-radius: 100px;
  margin-top: -1rem;
  border: none;
  margin-right: 144px;
}

.first.div {
  display: flex;
  width: 948px;
  height: 200px;
  flex-direction: column;
  flex-shrink: 0;
}

h1 {
  color: #141414;
  text-align: center;
  font-size: 48px;
  line-height: 96px;
  justify-content: center;
  margin: 0 246px;
  font-family: "gilroy-bold";
}

.shortening {
  color: #005ae2;
}

.first-div {
  position: relative;
}

.blue-vector {
  position: absolute;
  left: 705px;
  top: 167.91px;
}

.first-paragraph {
  width: 781px;
  height: 105px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 56px;
  justify-content: center;
  margin-bottom: 80px;
}

.up {
  display: inline-block;
  padding: 12px 24px;
  background-color: #005ae2;
  color: #fff;
  border-radius: 100px;
  border: none;
  width: 142px;
  height: 44px;
  line-height: 12px;
}

.more {
  color: #005ae2;
  width: 84px;
  height: 20px;
  line-height: 18.75px;
  font-size: 16px;
}
.first-box {
  width: 768px;
  height: 224px;
  border-radius: 24px;
}
.back-back {
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 315px;
  width: 270.545px;
  height: 251.202px;
  transform: rotate(357deg);
  flex-shrink: 0;
  margin-top: -245px;
  position: relative;
  z-index: -1;
}
.chain img {
  width: 768px;
  height: 224px;
  margin-left: 320px;
  position: relative;
  z-index: 1;
}

.back-photo {
  width: 238.545px;
  height: 251.202px;
}

.third-group {
  margin-top: 50px;
  width: 1520px;
  height: 93px;
}
.stop-container {
  width: 100%;
  height: 220px;
  display: flex;
  background: #f9fbfd;
  padding: 60px 140px;
  justify-content: space-between;
  margin-bottom: 128px;
}
.possible {
  color: #005ae2;
}

.three,
.six,
.billion,
.hundreds {
  font-size: 32px;
  list-style: 40px;
  font-family: "Gilory-bold", sans-serif;
}
.four-bold {
  font-size: 40px;
  font-family: "Gilroy-bold", sans-serif;
}

.active,
.link,
.clicked,
.inter {
  font-size: 13px;
}

.wrapper {
  margin-bottom: 130px;
  display: flex;
  width: 1202px;
  height: 504px;
  margin-left: 120px;
  justify-content: space-evenly;
}
.analysis,
.qr-plus {
  margin-top: 64px;
}

.lock,
.qr-plus,
.pen,
.analysis {
  width: 56px;
  height: 56px;
  margin-bottom: 40px;
}
.why {
  font-family: "Gilroy-bold";
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 16px;
}

.coloured-scissors {
  color: #005ae2;
}

.both {
  text-align: center;
  margin-bottom: 68px;
}
.header-three {
  height: 48px;
  font-family: "Gilroy-bold";
  line-height: 48px;
  font-size: 40px;
}
.perfect-blue {
  color: #005ae2;
}
.three-para {
  font-size: 16px;
}

.cards {
  display: flex;
  justify-content: center;
  margin-bottom: 68px;
  width: 1440px;
  margin-left: 40px;
  position: relative;
  z-index: 1;
}

.cards {
  position: relative;
}

.free-plan {
  color: #141414;
  width: 379px;
  height: 455px;
  padding: 24px 87px;
  border-radius: 12px;
  border: 0.4px solid var(--primary-400, #005ae2);
  background: var(--neutral-white, #fff);
  margin-top: 70px;
  position: relative;
  z-index: -1;
}
.expensive {
  text-align: center;
  width: 379px;
  height: 455px;
  margin-bottom: 43px;
  border-radius: 12px;
  border: 0.4px solid var(--primary-400, #005ae2);
  margin-bottom: 43px;
  margin-right: 66px;
  margin-top: 70px;
  position: relative;
  z-index: -1;
}

.midrange-price {
  background-color: #1e3448;
  width: 410px;
  height: 627px;
  margin: 10px;
  padding: 95px 106px 148px 65px;
  gap: 24px;
  border-radius: 12px;
  position: relative;
  z-index: 2;
}

.free-plan ul {
  list-style-type: none;
}

.newlist li {
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 10px;
  font-size: 14px;
}

.basich4 {
  margin-bottom: 34px;
  font-size: 24px;
}

.nocharge {
  font-family: "gilroy-bold";
  font-size: 40px;
  margin-bottom: 10px;
}

.pro,
.amount {
  color: #fff;
}

.pro {
  margin-bottom: 24px;
  font-size: 24px;
}

.amount {
  margin-bottom: 10px;
  font-size: 40px;
}

.ideal-paragraph {
  color: #fff;
}

.option2 {
  color: #fff;
}

.teams {
  margin-bottom: 20px;
  margin-top: 26px;
}

.amount3 {
  margin-bottom: 12px;
  font-family: "gilroy-bold";
}

.check-circle3 {
  margin-left: 25px;
}

.select-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 112px;
  align-items: center;
  padding: 42px;
}

.pricing {
  display: flex;
  width: 200px;
  height: 48px;
  padding: 12px 24px;
  justify-content: center;
  color: #005ae2;
  align-items: center;
  background-color: #fff;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid var(--primary-300-base, #0065fe);
}

.select {
  width: 200px;
  height: 48px;
  background-color: #005ae2;
  padding: 12px 12px;
  border-radius: 100px;
  color: #fff;
  border: none;
}

section.trim-url-page {
  width: 100%;
  height: 523px;
  background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
  margin-top: 150px;
  position: relative;
}
section > div.trim-url-box {
  display: inline-flex;
  padding: 0px 42px 0 42px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  background: #fff;
  position: absolute;
  width: 426px;
  height: 350px;
  margin: 80px 300px 0 430px;
}

.form-trims {
  font-size: 14px;
  margin-top: -30px;
  text-align: center;
  color: #3284ff;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 40px;
  width: 400px;
}
.form-text {
  width: 392px;
  height: 55px;
  padding: 8px 12px;
  border-radius: 12px;
  border: 1px solid var(--primary-100, #3284ff);
  color: #005ae2;
  margin-bottom: 24px;
}
.form-text::placeholder,
.form-alias::placeholder {
  color: #3284ff;
}

.form-alias-select {
  display: inline-flex;
  gap: 10px;
}

.domain-name {
  color: #3284ff;
  width: 202px;
  height: 48px;
  padding: 18px 20px;
  border-radius: 12px;
  border: 1px solid var(--primary-100, #3284ff);
}

.form-alias {
  width: 178px;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #3284ff;
  padding: 8px 12px;
}

.for-button {
  color: #fff;
  background-color: #3284ff;
  width: 392px;
  height: 48px;
  border-radius: 100px;
  background: var(--primary-400, #005ae2);
  border: none;
  margin-top: 24px;
}
.accordion {
  width: 800px;
  margin: 90px auto;
  color: black;
  background-color: white;
  padding: 45px 45px;
}
.accordion .accord-container {
  position: relative;
  margin: 10px 10px;
}

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: black;
  cursor: pointer;
}

.accordion .label::before {
  content: "+";
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

.accordion .items {
  position: relative;
  background: white;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}
.revolution {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 299px;
  background-image: url("/img/back-colour.jpg");
}

.header-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

h1.optimum {
  display: flex;
  height: 57px;
  flex-direction: column;
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-family: Gilroy-Bold;
  line-height: 48px;
  margin-left: 120px;
  margin-bottom: 10px;
  margin-top: 80px;
}

button.started {
  display: flex;
  width: 200px;
  height: 48px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: #005ae2;
  border: none;
  color: #fff;
  margin-bottom: -120px;
  margin-right: 30px;
}

.footer {
  width: 1400px;
  height: 561px;
  background-color: #fff;
  margin-left: -100px;
}

section > div.footer-page {
  display: inline-flex;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
#logo-media {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  margin-left: 150px;
  margin-right: -80px;
  margin-top: 75px;
}
div#logo-media > img {
  height: 30px;
  margin-left: 50px;
  margin-bottom: -5px;
}

div.social-logos > img {
  color: black;
  display: inline-flex;
  padding: 0px 15px;
  align-items: flex-start;
  gap: 24px;
  text-decoration: none;
}

.content-container {
  display: inline-flex;
  gap: 100px;
  margin-left: 150px;
  margin-top: 35px;
}
.about-list2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 100px;
  margin-left: 460px;
}

li {
  text-align: start;
}
p.about-heading {
  margin-right: -10px;
  font-weight: 100;
}
ul li {
  list-style-type: none;
}

.list-wrap > ul > li > a {
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.down-foot {
  font-size: 12px;
  margin-top: 120px;
  margin-left: 120px;
}
